# Estadíticas descriptovas 

### Importado y verificado el archivo, lo siguientes es hacer ciertas estadísticas para conocer el estado de la información.
### Lo usual son las estadísticas descriptivas de medidas de posición y medidas de variabilidad.
### Pero también es importante obtener en mayor detalle, ciertas estadística a partir de ciertros filtros o categorías, o del agrupamiento por cierta variable o característica.

## Importar datos

### Trabajaremos con los archivos de employee y workday

In [52]:
# Libraries

import os
import pandas as pd
import numpy as np

In [53]:
# Set de workin directory

path = 'C:\\Users\\oscar\\Desktop\\GitHub\\Python\\Jupyter Notebook\\Descriptive statistics'

# Change the current working directory
os.chdir(path)

# Let's check the new directory 

print("Current working directory: {0}".format(os.getcwd()))

Current working directory: c:\Users\oscar\Desktop\GitHub\Python\Jupyter Notebook\Descriptive statistics

In [54]:
# Import data

employee = pd.read_excel('testData.xlsx', sheet_name= 'employee')
workday = pd.read_excel('testData.xlsx', sheet_name= 'workday')

# 1. Análisis gneral del archivo de datos

## Una forma general es el uso de la función .describe()

In [55]:
# Opción 1

employee.describe()

,employee_id,transport_expense,distance,age,education,sons,pet,disciplinary_faults
count,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000
mean,18.783784,236.945946,27.162162,38.054054,1.351351,1.081081,1.297297,2.324324
std,10.530736,72.975242,14.318817,7.989389,0.753371,1.010456,2.066463,1.795891
min,1.000000,118.000000,5.000000,27.000000,1.000000,0.000000,0.000000,0.000000
25%,10.000000,179.000000,15.000000,32.000000,1.000000,0.000000,0.000000,1.000000
50%,19.000000,235.000000,26.000000,37.000000,1.000000,1.000000,0.000000,2.000000
75%,28.000000,289.000000,36.000000,43.000000,1.000000,2.000000,2.000000,4.000000
max,36.000000,388.000000,52.000000,58.000000,4.000000,4.000000,8.000000,5.000000

In [56]:
# Opción 2

employee.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
employee_id,37.0,18.783784,10.530736,1.0,10.0,19.0,28.0,36.0
transport_expense,37.0,236.945946,72.975242,118.0,179.0,235.0,289.0,388.0
distance,37.0,27.162162,14.318817,5.0,15.0,26.0,36.0,52.0
age,37.0,38.054054,7.989389,27.0,32.0,37.0,43.0,58.0
education,37.0,1.351351,0.753371,1.0,1.0,1.0,1.0,4.0
sons,37.0,1.081081,1.010456,0.0,0.0,1.0,2.0,4.0
pet,37.0,1.297297,2.066463,0.0,0.0,0.0,2.0,8.0
disciplinary_faults,37.0,2.324324,1.795891,0.0,1.0,2.0,4.0,5.0

In [57]:
# Opción 3

employee.describe().transpose().round(1)

                     count   mean   std    min    25%    50%    75%    max
employee_id           37.0   18.8  10.5    1.0   10.0   19.0   28.0   36.0
transport_expense     37.0  236.9  73.0  118.0  179.0  235.0  289.0  388.0
distance              37.0   27.2  14.3    5.0   15.0   26.0   36.0   52.0
age                   37.0   38.1   8.0   27.0   32.0   37.0   43.0   58.0
education             37.0    1.4   0.8    1.0    1.0    1.0    1.0    4.0
sons                  37.0    1.1   1.0    0.0    0.0    1.0    2.0    4.0
pet                   37.0    1.3   2.1    0.0    0.0    0.0    2.0    8.0
disciplinary_faults   37.0    2.3   1.8    0.0    1.0    2.0    4.0    5.0

# 2. Análisis del archivo de datos según ciertras medidas

In [58]:
# Opción 1
# Solo para el promedio

employee.mean()

C:\Users\oscar\AppData\Local\Temp\ipykernel_19556\2138060247.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  employee.mean()

employee_id             18.783784
transport_expense      236.945946
distance                27.162162
age                     38.054054
education                1.351351
sons                     1.081081
pet                      1.297297
disciplinary_faults      2.324324
dtype: float64

In [59]:
# Solo para la desviación estándar

employee.std()

C:\Users\oscar\AppData\Local\Temp\ipykernel_19556\2791595111.py:3: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  employee.std()

employee_id            10.530736
transport_expense      72.975242
distance               14.318817
age                     7.989389
education               0.753371
sons                    1.010456
pet                     2.066463
disciplinary_faults     1.795891
dtype: float64

In [60]:
# Opción 1e 

employee.age.median()

37.0

In [61]:
# Para una cierta variable 

employee['age'].median()

37.0

# Crear subconjunto de datos 

# Uso de la función groupby y .agg

## El .groupby

In [63]:
# Ejemplo 1

employee.groupby(['gender']).age.mean().round()

gender
F    38.0
M    39.0
Name: age, dtype: float64

In [64]:
# Ejemplo 2 

employee.groupby(['pet']).distance.mean().round()

pet
0    23.0
1    27.0
2    30.0
4    50.0
5    29.0
8    32.0
Name: distance, dtype: float64

# Uso del agreggate 

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.agg.html

In [71]:
# Ejemplo 

employee.groupby(['disciplinary_faults']).agg({'age':'mean',
                                               'transport_expense':'sum',
                                               'distance':'median'})

                           age  transport_expense  distance
disciplinary_faults
0                    35.857143               1845      26.0
1                    37.000000               1772      21.0
2                    34.000000               1515      26.0
3                    42.000000               1099      25.0
4                    45.750000                910      37.0
5                    37.714286               1626      31.0